.contain{
    margin: 20px;
}
h1{
    text-decoration: underline pink;
}

.font{
    color: white;
    margin-top: 40px;
}

.font2{
    color: white;
    margin-top: 40px;
    width: 1000px;
}
body{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/img.png) no-repeat center center fixed; 
    background-size: cover; 
  }